.heroSection {
    display: flex;
    flex-direction: column;
}
 
.imageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;  
    width: 100%;
    min-height: 100dvh; 
    background-color: var(--background); 
    
    background-image: 
    linear-gradient(
        to bottom,
        var(--background) 0%,
        var(--background) 40%, 
        rgba(250, 249, 249, 0.95) 48%,  
        rgba(250, 249, 249, 0.2) 60%, 
        transparent 85%
    ),
    url('/foto-dani-hero-mobile-3.png');

    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.textArea {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem; 
    
    padding: 6vh 24px 25em 24px; 
    
    z-index: 10; 
}

.textArea h1 {
    font-size: 2rem; 
    line-height: 1.25;
    letter-spacing: -0.01em;
    text-wrap: balance; 
}

.textArea h1 span {
    font-size: 1.1em; 
    font-weight: 700;
    color: var(--primary-color);
}

.textArea p {
    color: var(--text-accent-color);
    font-size: 1.1rem;
    line-height: 1.5;
    max-width: 85%;
}
 
.iconsContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: .4em 1.2em;
    margin-top: 2em;
    margin-bottom: 3em;
    gap: 4.5em;
}

.iconLegend {
    font-weight: 600;
    color: var(--gold-accent-color);
    opacity: 0.9;
    text-align: center;
}


@media(min-width: 768px) {
    
    .iconsContainer {
        display: flex;
        justify-content: space-around;
        padding: .4em 9.6em;
        align-items: center;
        margin-top: 3em;
        margin-bottom: 4em;
    }

    .imageContainer {
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding: 0;
        padding-left: 5em;
        width: 100%;
        height: 100vh;   
        
        background-image: 
        linear-gradient(
            90deg, 
            rgba(250, 249, 249, 1) 0%,   
            rgba(250, 249, 249, 0.85) 50%, 
            rgba(250, 249, 249, 0.5) 55%, 
            transparent 65%,
            transparent 100%            
        ),
        url('/foto-dani-hero.png');

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }   
    
    .textArea {
        align-items: flex-start;
        text-align: left;
        max-width: 600px;
        padding: 0;
        gap: 1.5em;
        margin-bottom: 5em;  
    }

    .textArea h1 {
        font-size: 3.6em;
    }

    .textArea p {
        font-size: 1.1em;
        max-width: 100%;
    }    
    
    .textArea button {
        max-width: 244px;
        padding: .6em;
    }
}