@import "tailwindcss";

:root {
  --background: #FAF9F9;
  --foreground: #000;
  --primary-color: #1F8374;
  --gold-accent-color: #B98338;
  --green-accent-color: #25D366;
  
  --primary-bg-color: rgba(31, 131, 116, 0.20);
  --border: rgba(0, 0, 0, 0.1);
}

html{
  scroll-behavior: smooth;
}

html, body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-next), sans-serif;
}