@import "tailwindcss";

:root {
  --background: #FAF9F9;
  --secondary-background: rgba(217, 217, 217, 0.5);
  --third-background: rgba(255, 254, 254, 0.51);
  --foreground: #000;

  --primary-color: #1F8374;
  --gold-accent-color: #B98338;
  --green-accent-color: #25D366;
  --text-accent-color: #535353;
  
  --primary-bg-color: rgba(31, 131, 116, 0.20);
  --border: rgba(0, 0, 0, 0.1);
}

html{
  scroll-behavior: smooth;
}

html, body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-next), sans-serif;
}

/* Botões */
.primaryBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  width: 100%;
  padding: 1rem; 
  border-radius: 100px;
  font-weight: 600;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  box-shadow: 1px 3px 8px rgba(31, 131, 116, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.primaryBtn:hover {
  background-color: var(--primary-color);
  color: var(--background);
  box-shadow: 1px 3px 12px rgba(31, 131, 116, 0.3);
  transform: translateY(-2px);
}

.secondaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0.6em 1.5em;
  border-radius: 100px;
  color: #FFFFFF; 
  font-size: 0.9em;
  font-weight: 600;
  box-shadow: 0 4px 14px rgba(31, 131, 116, 0.2);
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.secondaryBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(31, 131, 116, 0.35);
}
